<%= form_for @changeset, Routes.booking_path(@conn, :update, @booking), fn book -> %>

  <div class="form-group">
    <%= label book, :end_date, class: "control-label" %>
    <%= text_input  book, :end_date, class: "form-control" %>
    <%= error_tag book, :end_date %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary", id: "submit"%>
  </div>
<% end %>
