<h2>Show zone</h2>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @zone.name %>
  </li>
  <li>
    <strong>hourlyPrice:</strong>
    <%= @zone.hourlyPrice %>
  </li>
  <li>
    <strong>realTimePrice:</strong>
    <%= @zone.realTimePrice %>
  </li>
  <li>
    <strong>Vacant:</strong>
    <%= @zone.vacant %>
  </li>
</ul>

<span id="add"><%= link "Book", to: Routes.zone_path(@conn, :edit, @zone) %></span>
<span><%= link "Back", to: Routes.zone_path(@conn, :index) %></span>
