<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Agileparking · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/validation.js") %>"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
     <header>
      <section class="container">
        <nav role="navigation">
          <ol class="breadcrumb pull-right">
            <%= if Agileparking.Authentication.load_current_user(@conn) do %>
              <li>Hello <%= Agileparking.Authentication.load_current_user(@conn).email %></li>
              <li><%= link "Log out", to: Routes.session_path(@conn, :delete, Agileparking.Authentication.load_current_user(@conn)), method: "delete" %></li>
              <li><%= link "My profile", to: Routes.user_path(@conn, :index) %></li>
              <li><%= link "My cards", to: Routes.card_path(@conn, :index) %></li>
              <li><%= link "Bookings", to: Routes.booking_path(@conn, :index) %></li>
              <li><%= link "Search", to: Routes.zone_path(@conn, :index) %></li>
            <% else %>
              <li><%= link "Log in", to: Routes.session_path(@conn, :new) %></li>
            <% end %>
          </ol>
          <ol class="breadcrumb pull-right">
            <%= if ! Agileparking.Authentication.load_current_user(@conn) do %>
              <li><%= link "Registration", to: Routes.user_path(@conn, :new) %></li>
            <% end %>
          </ol>
          <span class="logo"></span>
          </nav>
          <a href="https://phoenixframework.org/" class="phx-logo">
            <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
          </a>
        </section>
      </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
